<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Page</title>
    </head>
    <body>
        <p>This is Main Page</p>

        <hr>

        UserId : {{id}} <br>
        UserRole : {{role}}
    </body>
</html>